@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body, a {
  font-family: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴシック W3", "Hiragino Kaku Gothic W3", "メイリオ", "Meiryo"; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

/*--------------------
  分割レイアウト用mixin
--------------------*/
/*--------------------
  コンテンツのインナー
--------------------*/
.layout-inner {
  width: 970px;
  margin: 0 auto; }

/*--------------------
  コンテンツの幅
--------------------*/
.layout-body {
  width: 66%;
  float: left;
  margin-bottom: 80px; }

.layout-side {
  width: 30%;
  float: left;
  margin-left: 4%; }

/*--------------------
  コンテンツ寄せ　左右、中央
--------------------*/
.left {
  float: left; }

.right {
  float: right; }

.center {
  margin: 0 auto; }

/*--------------------
  margin
--------------------*/
.layout-bottom-small {
  margin-bottom: 10px; }

.layout-bottom {
  margin-bottom: 20px; }

.layout-bottom-large {
  margin-bottom: 30px; }

.layout-bottom-xlarge {
  margin-bottom: 40px; }

.layout-left-xsamll {
  margin-left: 5px; }

.layout-left-samll {
  margin-left: 10px; }

.layout-left {
  margin-left: 20px; }

.layout-left-large {
  margin-left: 30px; }

/*--------------------
  コンテンツの大きさ
--------------------*/
.full {
  width: 100%; }

.half {
  width: 50%; }

/*--------------------
  テキストの位置
--------------------*/
.layout-align-left {
  text-align: left; }

.layout-align-right {
  text-align: right; }

.layout-align-center {
  text-align: center; }

/*--------------------
  テキストの行間
--------------------*/
.layout-lineheight {
  line-height: 1.5em; }

/*--------------------
  2カラムレイアウト
--------------------*/
.layout-half:after {
  content: '';
  clear: both;
  display: block; }

.layout-half > * {
  width: 48%;
  float: left;
  margin-right: 4%; }
  .layout-half > *:nth-child(2n) {
    margin-right: 0; }

/*--------------------
  mediaレイアウト
--------------------*/
.layout-media {
  display: table; }
  .layout-media.layout-media-height {
    height: 82px; }
  .layout-media:after {
    content: '';
    clear: both;
    display: block; }
  .layout-media > *:first-child {
    margin-right: 2%; }
  .layout-media .layout-media-thumbnail {
    width: 28%;
    float: left;
    display: table-cell; }
    .layout-media .layout-media-thumbnail.small {
      width: 140px;
      height: 140px; }
  .layout-media .layout-media-body {
    width: 70%;
    height: 100%;
    float: left;
    position: relative;
    display: table-cell; }
    .layout-media .layout-media-body.large {
      width: 74%; }
    .layout-media .layout-media-body .layout-media-body-history {
      position: absolute;
      bottom: 0;
      left: 0; }

.layout-header .layout-header-text {
  margin-top: 5px; }

.layout-header .layout-header-sns .layout-header-sns-text {
  margin-bottom: 3px; }

.layout-footer > * {
  float: left; }

.layout-footer:after {
  content: '';
  clear: both;
  display: block; }

.layout-footer .layout-footer-contents {
  width: 40%; }

.layout-footer .layout-footer-sitemap {
  width: 60%; }
  .layout-footer .layout-footer-sitemap > * {
    width: 23.6%;
    float: left; }
  .layout-footer .layout-footer-sitemap:after {
    content: '';
    clear: both;
    display: block; }
  .layout-footer .layout-footer-sitemap .layout-footer-sitemap-list > * {
    margin-bottom: 10px; }

.layout-mainVisual:after {
  content: '';
  clear: both;
  display: block; }

.layout-mainVisual .layout-mainVisual-title {
  width: 27%;
  float: left; }

.layout-mainVisual .layout-mainVisual-navi {
  width: 66%;
  float: right; }
  .layout-mainVisual .layout-mainVisual-navi > li {
    width: 32.25806%;
    float: left;
    margin-right: 1.5%;
    margin-bottom: 1%;
    box-sizing: border-box; }
    .layout-mainVisual .layout-mainVisual-navi > li:nth-child(3n) {
      margin-right: 0; }

.layout-article .layout-article-item {
  margin-bottom: 10px; }

.header {
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
  padding-top: 20px; }
  .header .header-text {
    font-size: 12px;
    line-height: 1.5em; }
  .header .header-sns .header-sns-text {
    font-size: 12px;
    color: #969696;
    text-align: center; }
  .header .header-sns .header-sns-list:after {
    content: '';
    clear: both;
    display: block; }
  .header .header-sns .header-sns-list > li {
    width: 38px;
    height: 38px;
    float: left;
    border-radius: 50px;
    background-color: #969696;
    position: relative;
    margin-right: 5px; }
    .header .header-sns .header-sns-list > li:last-child {
      margin-right: 0; }
    .header .header-sns .header-sns-list > li .header-sns-list-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -13.28px;
      margin-left: -13.28px;
      width: 70%; }

.footer {
  background-color: #f4f4f4;
  padding: 60px 0; }
  .footer .footer-description {
    font-size: 14px;
    line-height: 1.7; }
  .footer .footer-copylight {
    color: #747474;
    font-size: 10px; }
  .footer .footer-sitemap {
    color: #747474; }
    .footer .footer-sitemap .footer-sitemap-title {
      font-size: 14px;
      font-weight: bold; }
    .footer .footer-sitemap .footer-sitemap-anchor {
      color: #747474;
      font-size: 12px; }
      .footer .footer-sitemap .footer-sitemap-anchor:hover {
        color: #2b7bb9; }

.anchor {
  color: #2b7bb9;
  font-size: 14px;
  font-weight: bold; }
  .anchor.anchor-arrow {
    position: relative;
    padding-right: 10px; }
    .anchor.anchor-arrow:after {
      border: 2px solid;
      border-color: #2B7BB9 #2B7BB9 transparent transparent;
      content: '';
      display: inline-block;
      transform: rotate(45deg);
      margin: -5px 0;
      width: 4px;
      height: 4px;
      position: absolute;
      top: 50%;
      right: 0; }

.article {
  border-top: 2px solid rgba(202, 179, 136, 0.7);
  padding-top: 20px; }
  .article.living {
    border-top: 2px solid rgba(166, 150, 222, 0.7); }
  .article .article-thumbnail {
    position: relative; }
    .article .article-thumbnail .article-thumbnail-label {
      position: absolute;
      bottom: 12px;
      left: 6px;
      color: #fff;
      font-size: 12px;
      background-color: rgba(202, 179, 136, 0.7);
      padding: 1px 5px; }
      .article .article-thumbnail .article-thumbnail-label:before {
        content: '';
        display: inline-block;
        width: 9px;
        height: 12px;
        background: url("../../dst/img/icon-human.png") no-repeat;
        background-size: 9px;
        vertical-align: -1px;
        padding-left: 5px; }
    .article .article-thumbnail .article-thumbnail-category {
      position: absolute;
      bottom: 12px;
      right: 6px;
      color: #969696;
      font-size: 10px;
      line-height: 1.5em;
      border: 2px solid #969696;
      background-color: #fff;
      padding: 1px 5px; }
      .article .article-thumbnail .article-thumbnail-category.cuisine {
        color: #fca87d;
        border: 2px solid #fca87d; }
      .article .article-thumbnail .article-thumbnail-category.living {
        clor: #a696de;
        border: 2px solid #a696de; }
  .article .article-item-title {
    font-size: 16px;
    font-weight: bold; }
  .article .article-item-anchor {
    color: #333;
    font-size: 13px;
    line-height: 1.6em; }
    .article .article-item-anchor:hover > .article-item-title {
      color: #2b7bb9; }

.contents {
  padding: 10px; }
  .contents.contents-foundation {
    background-color: #f4f4f4; }
    .contents.contents-foundation .contents-foundation-inner {
      background-color: #fff;
      padding: 20px; }

.tag {
  display: inline-block;
  font-size: 12px;
  border: 1px solid #969696;
  padding: 7px 10px;
  border-radius: 50px;
  margin-bottom: 10px; }
  .tag.tag-offset-border {
    border: 0;
    padding: 0; }
  .tag.tag-add:before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url("../../dst/img/icon-plus.png") no-repeat; }
  .tag:hover {
    background-color: #F4F4F4; }
  .tag .tag-anchor {
    color: #969696; }
    .tag .tag-anchor:before {
      content: '#';
      color: #969696; }

.text-bold {
  font-weight: bold; }

.text-xsmall {
  font-size: 10px !important; }

.text-small {
  font-size: 12px !important; }

.text-middle {
  font-size: 14px !important; }

.text-large {
  font-size: 16px !important; }

.text-title {
  font-size: 19px;
  font-weight: bold; }

.text-title-supplement {
  font-size: 14px;
  line-height: 1.5em; }

.text-subtitle {
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  border-left: 5px solid #969696; }
  .text-subtitle.cuisine {
    border-color: #fca87d; }
  .text-subtitle.living {
    border-color: #a696de; }

.text-lead {
  font-size: 13px;
  line-height: 1.5em; }

.search {
  position: relative; }
  .search .search-input {
    font-size: 14px;
    padding: 10px 5px;
    box-sizing: border-box; }
    .search .search-input:focus {
      outline: 0; }
  .search .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -12px; }

.media {
  padding-bottom: 10px;
  border-bottom: 1px dotted #303030;
  display: block; }
  .media .media-body .media-body-title {
    font-size: 19px;
    line-height: 1.5em; }
    .media .media-body .media-body-title.small {
      font-size: 14px; }
  .media .media-body .media-body-text {
    color: #747474;
    font-size: 12px;
    line-height: 1.5em; }
  .media .media-body .media-body-posted {
    color: #747474;
    font-size: 12px; }
  .media .media-body .media-body-history {
    color: #747474;
    font-size: 12px; }
    .media .media-body .media-body-history:before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      background: url("../../dst/img/icon-clock.png") no-repeat;
      background-size: 13px;
      vertical-align: text-bottom; }

.news .news-title {
  font-weight: bold; }
  .news .news-title:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 21px;
    background: url("../../dst/img/icon-info.png") no-repeat;
    background-size: 21px;
    vertical-align: middle; }

.news .news-list > li {
  border-bottom: 1px dotted #d0d0d0;
  line-height: 1.5em;
  padding: 10px 0; }

.news .news-list .news-list-anchor {
  color: #303030;
  font-size: 14px; }
  .news .news-list .news-list-anchor:hover {
    color: #2b7bb9; }

.news .news-list .news-list-posted {
  color: #747474;
  font-size: 12px; }

.request .request-title {
  font-weight: bold; }
  .request .request-title:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 21px;
    background: url("../../dst/img/icon-request.png") no-repeat;
    background-size: 21px;
    vertical-align: -4px; }

.request .request-text {
  color: #747474;
  font-size: 12px; }

.request .request-input {
  width: 100%;
  height: 80px;
  display: block;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  padding: 0;
  resize: none; }

.request .request-btn {
  width: 100%;
  height: 50px;
  border: 2px solid #303030;
  font-size: 14px;
  font-weight: bold;
  padding: 0; }

.list .list-anchor {
  color: #303030;
  font-size: 14px; }
  .list .list-anchor:hover {
    color: #2b7bb9; }

.breadcrumbs:after {
  content: '';
  clear: both;
  display: block; }

.breadcrumbs > li {
  float: left; }

.breadcrumbs .breadcrumbs-anchor {
  color: #747474;
  font-size: 12px;
  vertical-align: middle;
  position: relative;
  padding-right: 20px; }
  .breadcrumbs .breadcrumbs-anchor.breadcrumbs-anchor-arrow:after {
    border: 1px solid;
    border-color: #747474 #747474 transparent transparent;
    content: '';
    display: inline-block;
    transform: rotate(45deg);
    margin: -4px 4px;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 50%; }

.pagination {
  width: 310px;
  position: relative; }
  .pagination .pagination-list {
    display: table; }
    .pagination .pagination-list > li {
      display: table-cell;
      border: 1px solid #d0d0d0;
      font-size: 12px; }
      .pagination .pagination-list > li:nth-child(2n) {
        border-left: 0;
        border-right: 0; }
      .pagination .pagination-list > li.active {
        background-color: #303030;
        border: 1px solid #303030; }
    .pagination .pagination-list:after {
      content: '…';
      padding: 20px; }
    .pagination .pagination-list .pagination-list-anchor {
      color: #303030;
      padding: 20px;
      display: inline-block; }
      .pagination .pagination-list .pagination-list-anchor.active {
        color: #fff;
        background-color: #303030;
        border: 1px solid #303030; }
  .pagination .pagination-next {
    content: '';
    border: 2px solid;
    border-color: #303030 #303030 transparent transparent;
    display: inline-block;
    transform: rotate(45deg);
    margin: -12px 0;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: 5px; }
    .pagination .pagination-next:after {
      content: '';
      border: 2px solid;
      border-color: #303030 #303030 transparent transparent;
      display: inline-block;
      margin: -10px 0;
      width: 6px;
      height: 6px;
      position: absolute;
      top: 50%;
      right: -7px; }
