@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body, a {
  font-family: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴシック W3", "Hiragino Kaku Gothic W3", "メイリオ", "Meiryo"; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

/*--------------------
  コンテンツのインナー
--------------------*/
.layout-inner {
  width: 970px;
  margin: 0 auto; }

/*--------------------
  コンテンツの幅
--------------------*/
.layout-body {
  width: 66%;
  float: left; }

.layout-side {
  width: 30%;
  float: left;
  margin-left: 4%; }

/*--------------------
  コンテンツ寄せ　左右
--------------------*/
.left {
  float: left; }

.right {
  float: right; }

/*--------------------
  margin
--------------------*/
.layout-bottom-small {
  margin-bottom: 10px; }

.layout-bottom {
  margin-bottom: 20px; }

.layout-bottom-large {
  margin-bottom: 30px; }

.layout-bottom-xlarge {
  margin-bottom: 40px; }

.layout-left-samll {
  margin-left: 10px; }

.layout-left {
  margin-left: 20px; }

.layout-left-large {
  margin-left: 30px; }

/*--------------------
  コンテンツの大きさ
--------------------*/
.full {
  width: 100%; }

.half {
  width: 50%; }

/*--------------------
  テキストの位置
--------------------*/
.layout-align-left {
  text-align: left; }

.layout-align-right {
  text-align: right; }

/*--------------------
  2カラムレイアウト
--------------------*/
.layout-half:after {
  content: '';
  clear: both;
  display: block; }

.layout-half > * {
  width: 48%;
  float: left;
  margin-right: 4%; }
  .layout-half > *:last-child {
    margin-right: 0; }

.layout-footer > * {
  float: left; }

.layout-footer:after {
  content: '';
  clear: both;
  display: block; }

.layout-footer .layout-footer-contents {
  width: 40%; }

.layout-footer .layout-footer-sitemap {
  width: 60%; }
  .layout-footer .layout-footer-sitemap > * {
    width: 23.6%;
    float: left; }
  .layout-footer .layout-footer-sitemap:after {
    content: '';
    clear: both;
    display: block; }
  .layout-footer .layout-footer-sitemap .layout-footer-sitemap-list > * {
    margin-bottom: 10px; }

.layout-mainVisual:after {
  content: '';
  clear: both;
  display: block; }

.layout-mainVisual .layout-mainVisual-title {
  width: 27%;
  float: left; }

.layout-mainVisual .layout-mainVisual-navi {
  width: 66%;
  float: left; }
  .layout-mainVisual .layout-mainVisual-navi > li {
    width: 31%;
    float: left;
    margin-right: 1.5%;
    margin-bottom: 1%;
    box-sizing: border-box; }
    .layout-mainVisual .layout-mainVisual-navi > li:last-child {
      margin-right: 0; }

.header {
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc; }

.footer {
  background-color: #f4f4f4;
  padding: 60px 0; }
  .footer .footer-description {
    font-size: 14px;
    line-height: 1.7; }
  .footer .footer-copylight {
    color: #747474;
    font-size: 10px; }
  .footer .footer-sitemap {
    color: #747474; }
    .footer .footer-sitemap .footer-sitemap-title {
      font-size: 14px;
      font-weight: bold; }
    .footer .footer-sitemap .footer-sitemap-anchor {
      color: #747474;
      font-size: 12px; }
      .footer .footer-sitemap .footer-sitemap-anchor:hover {
        color: #2b7bb9; }

.anchor {
  color: #2b7bb9; }
  .anchor.anchor-arrow {
    position: relative; }
    .anchor.anchor-arrow:after {
      border: 2px solid;
      border-color: #2B7BB9 #2B7BB9 transparent transparent;
      content: '';
      display: inline-block;
      transform: rotate(45deg);
      margin: -5px 0;
      width: 4px;
      height: 4px;
      position: absolute;
      top: 50%;
      right: 0; }

.article {
  border-top: 2px solid rgba(202, 179, 136, 0.7);
  padding-top: 20px; }
  .article .article-title {
    font-size: 19px;
    font-weight: bold; }
  .article .article-subtitle {
    font-size: 14px;
    line-height: 1.5em; }
  .article .article-thumbnail {
    position: relative; }
    .article .article-thumbnail .article-thumbnail-label {
      position: absolute;
      bottom: 12px;
      left: 6px;
      color: #fff;
      font-size: 12px;
      background-color: rgba(202, 179, 136, 0.7);
      padding: 1px 5px; }
      .article .article-thumbnail .article-thumbnail-label:before {
        content: '';
        display: inline-block;
        width: 9px;
        height: 12px;
        background: url("../../dst/img/icon-human.png") no-repeat;
        background-size: 9px;
        vertical-align: -1px;
        padding-left: 5px; }
    .article .article-thumbnail .article-thumbnail-category {
      position: absolute;
      bottom: 12px;
      right: 6px;
      color: #fca87d;
      font-size: 10px;
      line-height: 1.5em;
      border: 2px solid #fca87d;
      background-color: #fff;
      padding: 1px 5px; }
  .article .article-item-title {
    font-size: 16px;
    font-weight: bold; }
  .article .article-item-anchor {
    color: #333;
    font-size: 13px;
    line-height: 1.6em; }
    .article .article-item-anchor:hover > .article-item-title {
      color: #2b7bb9; }

.article {
  border-top: 2px solid rgba(202, 179, 136, 0.7);
  padding-top: 20px; }
  .article .article-title {
    font-size: 19px;
    font-weight: bold; }
  .article .article-subtitle {
    font-size: 14px;
    line-height: 1.5em; }
  .article .article-thumbnail {
    position: relative; }
    .article .article-thumbnail .article-thumbnail-label {
      position: absolute;
      bottom: 12px;
      left: 6px;
      color: #fff;
      font-size: 12px;
      background-color: rgba(202, 179, 136, 0.7);
      padding: 1px 5px; }
      .article .article-thumbnail .article-thumbnail-label:before {
        content: '';
        display: inline-block;
        width: 9px;
        height: 12px;
        background: url("../../dst/img/icon-human.png") no-repeat;
        background-size: 9px;
        vertical-align: -1px;
        padding-left: 5px; }
    .article .article-thumbnail .article-thumbnail-category {
      position: absolute;
      bottom: 12px;
      right: 6px;
      color: #fca87d;
      font-size: 10px;
      line-height: 1.5em;
      border: 2px solid #fca87d;
      background-color: #fff;
      padding: 1px 5px; }
  .article .article-item-title {
    font-size: 16px;
    font-weight: bold; }
  .article .article-item-anchor {
    color: #333;
    font-size: 13px;
    line-height: 1.6em; }
    .article .article-item-anchor:hover > .article-item-title {
      color: #2b7bb9; }

.tag {
  display: inline-block;
  font-size: 12px;
  border: 1px solid #969696;
  padding: 8px 10px;
  border-radius: 50px;
  margin-bottom: 10px; }
  .tag:before {
    content: '#';
    color: #969696;
    padding-right: 5px; }
  .tag:hover {
    background-color: #F4F4F4; }
  .tag .tag-anchor {
    color: #969696; }
