@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body, a {
  font-family: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴシック W3", "Hiragino Kaku Gothic W3", "メイリオ", "Meiryo"; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

/*--------------------
  コンテンツのインナー
--------------------*/
.layout-inner {
  width: 970px;
  margin: 0 auto; }

/*--------------------
  コンテンツ寄せ　左右
--------------------*/
.left {
  float: left; }

.right {
  float: right; }

/*--------------------
  margin
--------------------*/
.layout-bottom-small {
  margin-bottom: 10px; }

.layout-bottom {
  margin-bottom: 20px; }

.layout-bottom-large {
  margin-bottom: 30px; }

.layout-bottom-xlarge {
  margin-bottom: 40px; }

.layout-footer > * {
  float: left; }

.layout-footer:after {
  content: '';
  clear: both;
  display: block; }

.layout-footer .layout-footer-contents {
  width: 40%; }

.layout-footer .layout-footer-sitemap {
  width: 60%; }
  .layout-footer .layout-footer-sitemap > * {
    width: 23.6%;
    float: left; }
  .layout-footer .layout-footer-sitemap:after {
    content: '';
    clear: both;
    display: block; }
  .layout-footer .layout-footer-sitemap .layout-footer-sitemap-list > * {
    margin-bottom: 10px; }

.header {
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc; }

.footer {
  background-color: #f4f4f4;
  padding: 60px 0; }
  .footer .footer-description {
    font-size: 14px;
    line-height: 1.7; }
  .footer .footer-copylight {
    color: #747474;
    font-size: 10px; }
  .footer .footer-sitemap {
    color: #747474; }
    .footer .footer-sitemap .footer-sitemap-title {
      font-size: 14px;
      font-weight: bold; }
    .footer .footer-sitemap .footer-sitemap-anchor {
      color: #747474;
      font-size: 12px; }
      .footer .footer-sitemap .footer-sitemap-anchor:hover {
        color: #2b7bb9; }

.anchor:hover {
  color: #2b7bb9; }
