/*--------------------
  コンテンツのインナー
--------------------*/
.layout-inner {
  width: 970px;
  margin: 0 auto;
}


/*--------------------
  コンテンツ寄せ　左右
--------------------*/

.left {
 float: left;
}

.right {
  float: right;
}

/*--------------------
  margin
--------------------*/

.layout-bottom-small {
  margin-bottom: 10px;
}

.layout-bottom {
  margin-bottom: 20px;
}

.layout-bottom-large {
  margin-bottom: 30px;
}

.layout-bottom-xlarge {
  margin-bottom: 40px;
}
