/*--------------------
  コンテンツのインナー
--------------------*/
.l-inner {
  width: 970px;
  margin: 0 auto;
}


/*--------------------
  コンテンツ寄せ　左右
--------------------*/

.left {
 float: left;
}

.right {
  float: right;
}
