/*--------------------
  分割レイアウト用mixin
--------------------*/
@mixin widtnPercent( $parentPxWidth, $pxWidth ){
  width: ( $pxWidth / $parentPxWidth ) * 100%;
}

/*--------------------
  コンテンツのインナー
--------------------*/
.layout-inner {
  width: 970px;
  margin: 0 auto;
}

/*--------------------
  コンテンツの幅
--------------------*/

.layout-body {
  width: 66%;
  float: left;
  margin-bottom: 80px;
}

.layout-side {
  width: 30%;
  float: left;
  margin-left: 4%;
}

/*--------------------
  コンテンツ寄せ　左右
--------------------*/

.left {
 float: left;
}

.right {
  float: right;
}

/*--------------------
  margin
--------------------*/

.layout-bottom-small {
  margin-bottom: 10px;
}

.layout-bottom {
  margin-bottom: 20px;
}

.layout-bottom-large {
  margin-bottom: 30px;
}

.layout-bottom-xlarge {
  margin-bottom: 40px;
}

.layout-left-xsamll {
  margin-left: 5px;
}

.layout-left-samll {
  margin-left: 10px;
}

.layout-left {
  margin-left: 20px;
}

.layout-left-large {
  margin-left: 30px;
}

/*--------------------
  コンテンツの大きさ
--------------------*/
.full {
  width: 100%;
}

.half {
  width: 50%;
}

/*--------------------
  テキストの位置
--------------------*/

.layout-align-left {
  text-align: left;
}

.layout-align-right {
  text-align: right;
}

/*--------------------
  テキストの行間
--------------------*/

.layout-lineheight {
  line-height: 1.5em;
}

/*--------------------
  2カラムレイアウト
--------------------*/
.layout-half {

  &:after {
    content: '';
    clear: both;
    display: block;
  }

  & > * {
    width: 48%;
    float: left;
    margin-right: 4%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

/*--------------------
  mediaレイアウト
--------------------*/

.layout-media {
  display: table;

  &.layout-media-height {
    height: 82px;
  }

  &:after {
    content: '';
    clear: both;
    display: block;
  }

  & > *:first-child {
    margin-right: 2%;
  }

  .layout-media-thumbnail {
    width: 28%;
    float: left;
    display: table-cell;

    &.small {
      width: 140px;
      height: 140px;
    }
  }

  .layout-media-body {
    width: 70%;
    height: 100%;
    float: left;
    position: relative;
    display: table-cell;

    &.large {
      width: 74%;
    }

    .layout-media-body-history {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
