.layout-mainVisual {

  &:after {
    content: '';
    clear: both;
    display: block;
  }

  .layout-mainVisual-title {
    width: 27%;
    float: left;
  }

  .layout-mainVisual-navi {
    width: 66%;
    float: right;

    & > li {
      @include widtnPercent(620, 200);
      float: left;
      margin-right: 1.5%;
      margin-bottom: 1%;
      box-sizing: border-box;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
