.article {
  border-top: 2px solid rgba(202, 179, 136, .7);
  padding-top: 20px;

  .article-title {
    font-size: 19px;
    font-weight: bold;
  }

  .article-subtitle {
    font-size: 14px;
    line-height: 1.5em;
  }

  .article-thumbnail {
    position: relative;

    .article-thumbnail-label {
      position: absolute;
      bottom: 12px;
      left: 6px;
      color: #fff;
      font-size: 12px;
      background-color: rgba(202, 179, 136, .7);
      padding: 1px 5px;

      &:before {
        content: '';
        display: inline-block;
        width: 9px;
        height: 12px;
        background: url('../../dst/img/icon-human.png') no-repeat;
        background-size: 9px;
        vertical-align: -1px;
        padding-left: 5px;
      }
    }

    .article-thumbnail-category {
      position: absolute;
      bottom: 12px;
      right: 6px;
      color: #969696;
      font-size: 10px;
      line-height: 1.5em;
      border: 2px solid #969696;
      background-color: #fff;
      padding: 1px 5px;

      &.cuisine {
        color: #fca87d;
        border: 2px solid #fca87d;
      }

      &.living {
        clor: #a696de;
        border: 2px solid #a696de;
      }
    }
  }

  .article-item-title {
    font-size: 16px;
    font-weight: bold;
  }

  .article-item-anchor {
    color: #333;
    font-size: 13px;
    line-height: 1.6em;

    &:hover {

      & > .article-item-title {
        color: #2b7bb9;
      }
    }
  }
}
