.tag {
  display: inline-block;
  font-size: 12px;
  border: 1px solid #969696;
  padding: 7px 10px;
  border-radius: 50px;
  margin-bottom: 10px;

  &.tag-offset-border {
    border: 0;
    padding: 0;
  }

  &.tag-add {

    &:before {
      content: '';
      display: inline-block;
      width: 11px;
      height: 11px;
      background: url('../../dst/img/icon-plus.png') no-repeat;
    }
  }

  &:hover {
    background-color: #F4F4F4;
  }

  .tag-anchor {
    color: #969696;

    &:before {
      content: '#';
      color: #969696;
    }
  }
}
