.text-bold {
  font-weight: bold;
}

.text-xsmall {
  font-size: 10px !important;
}

.text-small {
  font-size: 12px !important;
}

.text-middle {
  font-size: 14px !important;
}

.text-large {
  font-size: 16px !important;
}

.text-title {
  font-size: 19px;
  font-weight: bold;
}

.text-title-supplement {
  font-size: 14px;
  line-height: 1.5em;
}

.text-subtitle {
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  border-left: 5px solid #969696;

  &.cuisine {
    border-color: #fca87d;
  }

  &.living {
    border-color: #a696de;
  }
}

.text-lead {
  font-size: 13px;
  line-height: 1.5em;
}
